<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="./css/main.css">
    <title>Home</title>
</head>
<body>
    {{!-- ==================================== cliente ================================= --}}

        {{#if log}}
    <header id="header_cliente">
        <nav>
            <br>
            <ul class="menu1">
                <li><a href="/home" data-hover="Home">Home</a></li>
                <li><a href="/guitarras" data-hover="Guitarras">Guitarras</a></li>
                 <li><a href="/logout" data-hover="Logout">Logout</a></li>
                <li><a href="/contato" data-hover="Contato">Contato</a></li>
                <li><a href="/carrinho"><img src="./img/carrinho_vazio_64_bg.png" id="carrinho-icon" alt="icone do carrinho" height="30rem"></a></li>        
              </ul>
                
        </nav>
    </header>

    {{else}}

    <header>
        <nav>
            <br>
            <ul class="menu1">
                 <li><a href="/home" data-hover="Home">Home</a></li>
                <li><a href="/guitarras" data-hover="Guitarras">Guitarras</a></li>
                <li><a href="/login" data-hover="Login">Login</a></li>
                <li><a href="/contato" data-hover="Contato">Contato</a></li>
                <li><a href="/carrinho"><img src="./img/carrinho_vazio_64_bg.png" id="carrinho-icon" alt="icone do carrinho" height="30rem"></a></li>        
              </ul>
                
        </nav>
    </header>

    {{/if}}

    {{!-- ==================================== gerenciador ============================= --}}

    {{#if admin}}
    <header id="header_gerenciador">
        <nav>
            <br>
            <ul class="menu1">
                 <li><a href="/home" data-hover="Home">Home</a></li>
                <li><a href="/guitarras" data-hover="Guitarras">Guitarras</a></li>
                <li><a href="/gerenciador" data-hover="Gerenciador">Gerenciador</a></li>
                <li><a href="/Logout" data-hover="Logout">Login</a></li>
            <a>Usuário: {{user}}</a>
                <li><a href="/contato" data-hover="Contato">Contato</a></li>
                <li><a href="/carrinho"><img src="./img/carrinho_vazio_64_bg.png" id="carrinho-icon" alt="icone do carrinho" height="30rem"></a></li>        
              </ul>
                
        </nav>
    </header>

    {{else}}


    {{/if}}

    <main>
        {{{body}}}
    </main>

</body>
</html>