
    <link rel="stylesheet" href="./css/cadastrar.css">
    <link rel="stylesheet" href="./css/main.css">

<br><br>
        <h1>Formulário de cadastro!</h1>
        <br><br>
        <hr>

            <form action="/cadastrar" method="post">
    <label class="con-label" for="nome">Digite seu Nome</label>
    <input class="entre" type="text" name="nome"><br>    

    <label class="con-label" for="email">Digite seu email</label>
    <input class="entre" type="text" name="email"><br>    

    <label class="con-label" for="telefone">Digite seu Telefone</label>
    <input class="entre" type="text" name="telefone"><br> 

        <label class="con-label" for="telefone">Digite seu Cpf</label>
    <input class="entre" type="text" name="cpf"><br> 

    <label class="con-label" for="senha">Digite sua Senha</label>
    <input class="entre" type="text" name="senha"><br><br>

    <button type="submit">Cadastrar</button>
    <br>
</form>
<br><br>
