
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/gerenciador.css">
    <br><br>
    <h1>Bem vindo(a), à página de gerenciamento!</h1>
    <br>
    <br><hr><br><br>

    <h2>Produtos</h2>
    <br>
    <div class="botoes">

    <button onclick="location.href='/apagar'">Apagar</button>
    <button onclick="location.href='/atualiza'">Atualizar</button>
    <button onclick="location.href='/listar'">Listar</button>
    <button onclick="location.href='/cadastrar_prod'">Cadastrar</button>
 </div>
 <br><br><br><br>

 <h2>Clientes</h2>
 <br>
 <div class="botoes">
     <button onclick="location.href='/apagar_cli'">Apagar</button>
    <button onclick="location.href='/listar_cli'">Listar</button>
    </div>