
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/gerenciador.css">
    <br><br>
    <h1>Bem vindo(a) {{usuario}}, à página de gerenciamento!</h1>
    <br><hr><br>

    <h2>Produtos</h2>
    <br><br>
    <button onclick="location.href='/apagar'">Apagar</button>
    <button onclick="location.href='/atualiza'">Atualizar</button>
    <button onclick="location.href='/listar'">Listar</button>
    <button onclick="location.href='/cadastrar'">Cadastre-se</button>
