<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/guitarras.css">
    <link rel="stylesheet" href="./css/main.css">
    <script src="./js/itens_carrinho.js" defer></script>
    <title>Guitarras</title>
</head>
<body>

            <main>
                <br><br>
                <h1>Produtos populares!</h1>
                <br><br><hr><br><br>
            </main>
    <div class="primeiro">
        <div class="um">
            <div class="img">
                <img src="/img/guit1.jpg" alt="guitarra" class="imagem">
            </div>
            <pre class="preço">Violão eletrico</pre>
            <pre class="preço">R$989,99</pre>
            <button class="adicionar-ao-carrinho" data-id="1" data-nome="Violão eletrico" data-preco="989.99" data-qtde="1">Adicionar ao Carrinho</button>
            <br><br>
        </div>
        <div class="dois">
            <div class="img">
                <img src="/img/guit2.jpg" alt="guitarra" class="imagem">
            </div>
            <pre class="preço">Guitarra acustica</pre>
            <pre class="preço">R$1499,99</pre>
            <button class="adicionar-ao-carrinho" data-id="2" data-nome="Guitarra acustica" data-preco="1499.99" data-qtde="1">Adicionar ao Carrinho</button>
            <br><br>
        </div>
            <div class="tres">
                <div class="img">
                    <img src="/img/guit3.jpg" alt="guitarra" class="imagem">
                </div>
                <pre class="preço">Guitarra eletrica</pre>
                <pre class="preço">R$1698,99</pre>
                <button class="adicionar-ao-carrinho" data-id="3" data-nome="Guitarra eletrica modelo 1" data-preco="1698.99" data-qtde="1">Adicionar ao Carrinho</button>
                <br><br>
            </div>
        </div>
    
    
    <p><br><br></p>
    
    
        <div class="segundo">
            <div class="quatro">
                <div class="img">
                    <img src="/img/guit4.jpg" alt="guitarra" class="imagem">
                </div>
                <pre class="preço">Guitarra do Axl Rose</pre>
                <pre class="preço">R$9.999,99</pre>
                <button class="adicionar-ao-carrinho" data-id="4" data-nome="Guitarra do Axl Rose" data-preco="9999.99" data-qtde="1">Adicionar ao Carrinho</button>
                <br><br>
            </div>
            <div class="cinco">
                <div class="img">
                    <img src="/img/guit5.jpg" alt="guitarra" class="imagem">
                </div>
                <pre class="preço">Guitarra iniciante</pre>
                <pre class="preço">R$1399,99</pre>
                <button class="adicionar-ao-carrinho" data-id="5" data-nome="Guitarra iniciante" data-preco="1399.99" data-qtde="1">Adicionar ao Carrinho</button>
                <br><br>
            </div>
                <div class="seis">
                    <div class="img">
                        <img src="/img/guit6.jpg" alt="guitarra" class="imagem">
                    </div>
                    <pre class="preço">Guitarra eletrica</pre>
                    <pre class="preço">R$1698,99</pre>
                    <button class="adicionar-ao-carrinho" data-id="6" data-nome="Guitarra eletrica modelo 2" data-preco="1698.99" data-qtde="1">Adicionar ao Carrinho</button>
                    <br><br>
                </div>
            </div>
    <p><br><br></p>
    </body>
<div class="fot">
    <div class="pezin">
        <br><br>
        <pre>Nos visite no instagram! @guitarras_senai</pre>
        <br><br>
        <hr>
        <br>
        <p class="pezi">Site criado com intuito educacional</p>
        <br>
    </div>
</div>
</html>