
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>Guitarras</title>


    <main>
        <div class="fundo">
            <br><br><br><br><br><br><br><br><br><br>
        <div class="container">
            <h1 class="tracking-in-expand">
                  GuitarraS
            </h1>
    </main>
        </div>
    </div>
    <div class="divi">
        <br><br>
    <div class="infos">
        <p class="titulo">O que é uma</p>
        <p class="titulo2">Guitarra?</p>
        <br>
        <p class="texto1">A guitarra é um instrumento musical popular desde sempre.</p>
        <br>
        <p class="texto">Sua principal função é trazer a melodia e harmonia mais aguda</p>
        <p class="texto">da banda. Assim como o baixo, pode ser tocada com os dedos</p>
        <p class="texto">ou palhetas, porém com tecnicas diferentes e por isso também</p>
        <p class="texto">se enquadra nos instrumentos de cordas dedilhadas.</p>
        <p class="texto"><br></p>
<hr>
<p class="texto"><br></p>
        <p class="pe">background: @kamoochi on instagram.</p>
    </div>
</div>

<footer>
    <pre>
        <br><br><br><br>
    </pre>
</footer>