
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/main.css">
    <!-- <script src="login.js" defer></script> -->

<br><br>
        <h1>Formulário de login!</h1>
        <br><br>
        <hr>
        <form action="/login" method="post">

            <label class="con-label" for="email">Digite seu email</label>
    <input class="entre" type="text" name="email" required><br>    

            <label class="con-label" for="senha">Digite sua Senha</label>
    <input class="entre" type="password" name="senha" required>
<br><br>
            <button id="pesquisa">logar</button>

       <br><br><hr><br><br>
       <h2>Não é cadastrado?</h2>
        <br>
        <button onclick="location.href='/cadastrar'">Cadastre-se</button>
    <br><br><br>
